<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        html, body {
            background-color: #333;
            color: #fff;
            font-family: helvetica, arial, sans-serif;
            margin: 0;
            padding: 0;
            font-size: 12pt;
        }

        #canvas {
            /*position: absolute;*/
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        .button {
			background-image: url(../../media/iphone-buttons.png);
			background-repeat: no-repeat;
			width: 80px;
			height: 96px;
			/*position: absolute;*/
			bottom: 0px;
			
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-text-size-adjust: none;
		}

        .mainScreen {
            max-width:750px;
            max-height:800px;

        }
        .controls {
            max-width:200px;
            max-height:60px
        }

        #buttonLeft { left: 0; background-position: 0, 0; }
		#buttonTop { left: 80px; background-position: -80px, 0; }
        #buttonDown { right: 80px; background-position: -160px, 0; }
		#buttonRight { right: 0px; background-position: -240px, 0; }

    </style>
    <script type="text/javascript" src="../lib/impact/impact.js"></script>
    <script type="text/javascript" src="../lib/game/main.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
