<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="../lib/weltmeister/weltmeister.css" />
    <script src="../lib/weltmeister/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../lib/weltmeister/jquery-ui-1.8.1.custom.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../lib/impact/impact.js" type="text/javascript" charset="utf-8"></script>
    <script src="../lib/weltmeister/weltmeister.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
        @RenderBody()
</body>
</html>
